<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dr Guptas Meal Plan Generator</title>
    <link rel="stylesheet" href="/static/styles.css">
    <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
</head>
<body>
    <header>
        <div class="title-container">
            <h1>EDM Meal Plan Generator</h1>
            <h2>Alpha Release</h2>
        </div>
        <img src="/static/Logo.png" alt="Logo" id="logo">
    </header>
    <main id="chat-container">
        <h3 class="welcome-header">Welcome {{username}}</h3>
        <div id="chat-box"></div>
        <form id="input-container">
            <input type="text" id="search_query" placeholder="Type your Patient Details here..." required>
            <input type="hidden" id="topNDocuments" value="5">
            <button type="submit">Send</button>
            <button type="button" id="saveButton">Save</button>
        </form>
    </main>
    <script src="/static/chat.js"></script>
</body>
</html>